
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
}

@media (min-width:  1024px) {
    .header {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
    /* Common styles */
    ._hide-up-lg {
        display: none !important;
    }
    ._hide-down-lg {
        display: block !important;
    }
    .mb-medium {
        margin-bottom: var(--spacing-medium);
    }

    .title--medium {
        font-size: var(--font-size-title-medium);
    }

    .fz-medium {
        font-size: var(--font-size-medium);
    }

    .title--semi-medium {
        font-size: var(--font-size-title-semi-medium);
    }

    /* News styles */
    .news-block {
        flex-direction: row;
    }

    .news-block__sidebar {
        max-width: 33.3333%;
        padding: var(--spacing-semimedium) var(--spacing);
    }

    .news-section__title {
        margin: var(--spacing-large) 0 var(--spacing);
    }

    .news-item__image-link {
        height: 150px;
    }

    .news-big__title {
        margin-bottom: var(--spacing);
        font-size: var(--font-size-large);
    }

    .news-big__content {
        bottom: 0;
        padding: var(--spacing-medium);
    }
}

@media (min-width: 1280px) {
}

@media (min-width: 1280px) {
}

